<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="/templates/masterLayout.xhtml">
    <ui:define name="pageTitle">Registration</ui:define>
    <ui:define name="content">
        <h:form id="registrationForm">
            <h:outputLabel value="Username" for="username" />
            <p:inputText value="#{registrationView.userVo.username}" id="username" required="required" />
            <p:message for="username" />
            
            
            <h:outputLabel value="Password" for="password" />
            <p:password value="#{registrationView.userVo.password}" id="password" required="required" />
            <p:message for="password" />
            
            <p:commandButton value="Registration" actionListener="#{registrationView.registration()}" />
            
        </h:form>
    </ui:define>
</ui:composition>