<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<f:view>

	<h:head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<h:outputStylesheet library="css" name="bootstrap.css" />
		<h:outputStylesheet library="css" name="dashboard.css" />
		<h:outputStylesheet library="css" name="style.css" />


		<title><ui:insert name="pageTitle"></ui:insert></title>
		<ui:insert name="head-extra" />

	</h:head>

	<h:body>
		<p:growl id="growl" showDetail="true" autoUpdate="true" sticky="true" />
		<h:form id="loginPopup" styleClass="navbar-form navbar-right">
			<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><c:choose>
								<c:when
									test="#{!request.requestURL.toString().contains('login.xhtml') and request.userPrincipal.name == null }">
									<p:commandLink value="Login" styleClass=""
										onclick="PF('loginDialog').show();" icon="ui-icon-unlocked" />
								</c:when>
								<c:otherwise>
									<p:link href="/logout" value="Logout" icon="ui-icon-extlink" />
								</c:otherwise>
							</c:choose></li>


					</ul>

				</div>
			</div>
			</nav>
		</h:form>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li
							class="#{request.requestURI.toString().contains('/public/JSFexample.xhtml') ? 'active ' : ''}">
							<p:link href="/public/JSFexample.xhtml">JSF example</p:link>
						</li>
						<li
							class="#{request.requestURI.toString().contains('/public/JSFexampleAjax.xhtml') ? 'active ' : ''}">
							<p:link href="/public/JSFexampleAjax.xhtml">JSF Ajax example</p:link>
						</li>
						<li
							class="#{request.requestURI.toString().contains('/public/PFexample.xhtml') ? 'active ' : ''}">
							<p:link href="/public/PFexample.xhtml">PrimeF example</p:link>
						</li>
					</ul>
					<ul class="nav nav-sidebar">
						<li
							class="#{request.requestURI.toString().contains('/secured/secured.xhtml') ? 'active ' : ''}">
							<p:link href="/secured/secured.xhtml">Security example</p:link>
						</li>

					</ul>
					<ul class="nav nav-sidebar">
						<li
							class="#{request.requestURI.toString().contains('/secured/users.xhtml') ? 'active ' : ''}">
							<p:link href="/secured/users.xhtml">Data Table</p:link>
						</li>
					</ul>
					<c:if test="#{request.userPrincipal.name != null}">
					<ul class="nav nav-sidebar">
						<li
							class="#{request.requestURI.toString().contains('/secured/profile.xhtml') ? 'active ' : ''}">
							<p:link href="/secured/profile.xhtml">Profile</p:link>
						</li>
					</ul>
					</c:if>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">




					<div class="">
						<ui:insert name="content" />
					</div>
				</div>
			</div>
		</div>

	</h:body>

</f:view>
</html>
